@charset "UTF-8";
/* CSS Document */

.banner-container
{
	margin-bottom:20px;
	width:100%;
}

.banner-image
{
	width:100%
}


.show-me-videos-list-container
{
	padding-bottom: 40px;
}
	@media all and (min-width: 481px)
	{
		.show-me-videos-list-container
		{
			padding-bottom: 28px;
		}
	}

.show-me-videos-list
{
	max-width: 266px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
	@media all and (min-width: 481px)
	{
		.show-me-videos-list
		{
			max-width: 832px;	
			text-align: justify;
			font-size: 0.1px;
		}
		
		.show-me-videos-list:after
		{
		  content: '';
		  display: inline-block;
	    *zoom: 1;
	    *display: inline;
		  width: 100%;
		}
	}

.show-me-videos-banner-container
{
	width:100%;
	max-width:266px;
	margin-left:auto;
	margin-right:auto;
}
	@media all and (min-width: 481px)
	{
		.show-me-videos-banner-container
		{
		}
	}

.show-me-videos-banner
{
	display: inline-block;
	*zoom: 1;
	*display: inline;
	width:100%;
    max-width: 266px;
	padding-bottom:20px;
	margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 20px;
	padding-left: 0px;
	padding-bottom: 0px;
}
	@media all and (min-width: 481px)
	{
		.show-me-videos-banner
		{
			max-width: 266px;
			width: 32%;
			margin-bottom: 2%
		  display: inline-block;
	    *zoom: 1;
	    *display: inline;
	    vertical-align: top;
		}
		
		.show-me-videos-banner:hover
		{
			opacity:.75;
			cursor: pointer;
		}
	}	

.show-me-videos-banner img
{
	width: 100%;
	vertical-align: bottom;
}
	@media all and (min-width: 481px)
	{
		
		.show-me-videos-list li:nth-child(3n)
		{
			margin-right: 0%;			
		}	
	}

.show-me-videos-banner-overlay-text
{
    font-family: 'proxima-nova', Helvetica, sans-serif;
	position: absolute;
	font-size: .75em;
    color: #d96459;
	padding-top: 11px;
	width: 100%;
}


